#description {
    a.active {
        background: #da251e;
        padding: 15px 30px;
        color: white;
        text-transform: uppercase;
        margin-right: 2px;
        outline : none;
    }   

    .classic {
        background: #f1f1f1;
        padding: 15px 30px;
        color: black;
        text-transform: uppercase;
        margin-right: 2px;
        outline: none;
    }  

    .nav-link {
        background: #f1f1f1;
        padding: 15px 30px;
        color: black;
        text-transform: uppercase;
        margin-right: 2px;
        outline: none;
    }
}    


#last-visited {
    margin-top: 50px;
}
