
#nav {
    .navbar {
    
        padding: 0 !important;
    
        background: red !important;
    
        li a {
            font-weight: 600;
            color: white;
            display: inline-block;
            padding: 20px 30px;
        }
        li.active {
            background: #bf201a;
        }
    
        li:hover {
            background: #bf201a;
        }
        li.special {
            background: #454545;
            position: relative;
            span {
                margin-left: 30px;
            }
            img {
                position: absolute;
                top: 7px;
                left: 0;
            }
        }
    }

    button.navbar-toggler {
        margin: 5px 0;
        outline: none;
        &:hover {
            outline: none;
        }
    }

}

