.title-underline {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 5px solid #da251e;
}
.line-red {
    border-top: 5px solid #da251e;
    margin-bottom: 20px;
}
.gray-red {
    border-top: 5px solid #f1f1f1;
    margin-bottom: 20px;
}

.title-underline2 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 5px solid #f1f1f1;
}